.achievements {
    padding: 0.1px 0;
    background-color: $ocean;
    color: $main-white;
}

.achievements__section {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.achievements__block {
    display: flex;
    width: 25%;
    position: relative;
    justify-content: flex-start;
    justify-items: flex-start;
}

.achievements--case {
    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/case.png);
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        top: 7px;
        left: 0;
    }
}

.achievements--clock {
    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/clock.png);
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        top: 7px;
        left: 0;
    }
}

.achievements--star {
    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/star.png);
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        top: 7px;
        left: 0;
    }
}

.achievements--heart {
    &::before {
        content: "";
        position: absolute;
        background-image: url(../img/heart.png);
        background-repeat: no-repeat;
        width: 45px;
        height: 45px;
        top: 7px;
        left: 0;
    }
}

.achievements__value {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.achievements__number {
    margin-bottom: 15px;
    font-size: $size-special;
    font-family: $font-Montserrat;
}

.achievements__text {
    font-size: $size-small;
    font-family: $font-Montserrat;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .achievements__block {
        display: flex;
        width: 45%;
        max-width: 250px;
        margin: 0 auto 30px auto;
        justify-content: flex-start;

        &:nth-child(n+3) {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 550px) {
    .achievements__block {
        display: flex;
        width: 100%;
        margin: 0 auto 30px auto;
        justify-content: center;
        &:nth-child(3) {
            margin-bottom: 30px;
        }
    }
    .achievements--heart {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/heart.png);
            background-repeat: no-repeat;
            width: 45px;
            height: 45px;
            top: 7px;
            left: 2px;
        }
    }
    .achievements--clock {
        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/clock.png);
            background-repeat: no-repeat;
            width: 45px;
            height: 45px;
            top: 7px;
            left: 0px;
        }
    }
}