$font-Montserrat: "Montserrat-Medium";
$font-NunitoSans: "NunitoSans-Regular";

$main-black: #000;
$black: #191919;
$gray-black: #3e3e3e;
$ocean: #10c9c3;
$title-black: #1d1d1d;
$gray: #787878;
$gray-smooth: #8e8e8e;
$light-gray: #F8F9F9;
$dark-gray: #EAEAEA;
$main-white: #fff;
$footer-gray: #bcbcbc;
$footer-background: #141414;

$size-small: 12px;
$size-medium: 16px;
$size-form: 15px;
$size-special: 18px;
$size-normal: 24px;
$size-big: 30px;
$size-large: 38px;